*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ECF2FF;
}

.sortable-list{
    background: #fff;
    width: 445px;
    border-radius: 7px;
    padding: 30px 35px 20px;
}

.item .details{
    display: flex;
    align-items: center;
}

.sortable-list .item{
    list-style: none;
    display: flex;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 11px;
    padding: 10px 14px;
    align-items: center;
    justify-content: space-between;
}

.item .details img{
    width: 43px;
    height: 43px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}

.item .details span{
    font-size: 1.13rem;
}

.item i{
    color: #474747;
    font-size: 1.13rem;
}

.item.dragging :where(.details, i){
    opacity: 0;
}